<ion-view class="lunch" hide-back-button="properties.hideBackButton" title="Hello World" rightButtons="properties.rightButtons" left-buttons="properties.leftButtons">

    <ion-content>
      <ion-slide-box on-slide-changed="slideChanged(index)">
      
        <ion-slide>
          <center class="padding-top">
            <h3>Thank you for installing the MVA Appstore App!</h3>
            <div class="logo">
              <img src="images/mvaappstore.png" alt="">
            </div>
            <p>
              We've worked super hard to make you happy
            </p>
            <p>
              But if you are angry, too bad.
            </p>
          </center>
        </ion-slide>
        <ion-slide>
        <center class="padding-top">
          <h3>Using MVA Appstore App</h3>
          <div class="features">
            <h5>More features from an Appstore:</h5>
            <ol>
              <li>Push Notifications on app release</li>
              <li></li>
              <li></li>
            </ol>
          </div>
        </center>
      </ion-slide>
      </ion-slide-box>
    </ion-content>
    
</ion-view>
