<div class="modal">
    <ion-header-bar>
        <h1 class="title">Search filter</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeFilter();">Close</button>
        </div>
    </ion-header-bar>
    
    <ion-content>
        <form ng-submit="applyFilter();">
            <div class="list">
                <label class="item item-input item-select">
                    <span class="input-label">Search count limit</span>
                    <select ng-model="search.limit">
                        <option value="0">All Results</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Apply</button>
                </label>
            </div>
        </form>
    </ion-content>
</div>